<?php
{% set properties = struct.properties %}

{% include "sections/file-header.html" %}


namespace {{ full_namespace }};

{% for property in properties %}{% if property.type not in ['string', 'float', 'integer'] %}
use {{ namespace}}\Structure\{{property.type}};
{% endif %}{% endfor %}

class {{ struct.name }}
{
{% for property in properties %}
    /**
     *
     * @var {{property.type}}
     */
    public ${{ property.name }};
{% endfor %}

{% for property in properties %}
    /**
     * Get the {{ property.name }}
     * @return {{ property.type }}
     */
    public function get{{ property.name }}()
    {
        return $this->{{ property.name }};
    }

    /**
     * Set the {{ property.name }}
     * @return {{ property.type }}
     */
    public function set{{ property.name }}(${{ property.name }})
    {
        $this->${{ property.name }} = ${{ property.name }};
        return $this;
    }
{% endfor %}
}