<?php
{% include "sections/file-header.html" %}


namespace {{ namespace }};

class Service
{
{% for method in wsdl.methods %}
    /**
     * Calls the soap method {{ method.name }}
     * @return Response\{{ method.response|postfix('Response') }}
     **/
    public function {{ method.name }}(): Response\{{ method.response|postfix('Response') }}
    {
        $request = new Request\{{ method.request|postfix('Request') }}();
        $method = new Method\{{ method.name|postfix('Method') }}($request);

        return $method->execute();
    }

{% endfor %}
}